{% set stock_colors = ['red', 'purple', 'blue', 'indigo', 'amber', 'brown'] %}
<div class="col s12">
  <div class="card {{ stock_colors[index] }} lighten-5 hoverable">
    <div class="card-content">
      <span class="card-title">{{ stock.name }} @ {{ stock.current_price() }}</span>
      <table class="center-align responsive-table">
        <thead>
          <tr>
            {% for player_info in game.players_info %}
              <th>
                {{ player_info.player.username }}
              </th>
            {% end %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for player_info in game.players_info %}
              <td>
                {{ player_info.stocks.get(stock_id=index).num_shares }}
              </td>
            {% end %}
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-action">
      <a href="#"><i class="material-icons tiny green-text">thumb_up</i> <strong class="grey-text text-darken-4">Buy</strong></a>
      <a href="#"><i class="material-icons tiny red-text">thumb_down</i> <strong class="grey-text text-darken-4">Sell</strong></a>
    </div>
  </div>
</div>
